
<!DOCTYPE html>
<html>
<head>
<title>Geolocation</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<style>
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}
</style>
</head>
<body>
	<div id="map"></div>
	<script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see the error "The Geolocation service
// failed.", it means you probably did not give permission for the browser to
// locate you.
 var map;
//var url = "http://192.168.1.8/current_loc.php?action=get_current_loc&url_code={{url_code}}";
var url = "http://www.techhunger.com/current_loc.php?action=get_current_loc&url_code={{url_code}}";
 //var url = "http://localhost/current_loc.php?action=get_current_loc&url_code={{url_code}}";		
  var infoWindow;
  var directionsDisplay;
  
  var start_pos;
  var isExpired = {{expire_status}};
  
function initMap() {
				  
 
map =  new google.maps.Map(document.getElementById("map"), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 16
  });
  
 directionsDisplay = new google.maps.DirectionsRenderer({
    map: map
  });
 	
				infoWindow = new google.maps.InfoWindow({map: map});
				
				
  
  
   var lating = parseFloat( {{start_loc_lat}});
	 var lngting = parseFloat({{start_loc_lng}});	
				
	 start_pos = {
	 lat:{{start_loc_lat}},
	  lng:{{start_loc_lng}}			
	}
	
	
	var endLat,endLong;
	{% if (end_loc_lat is empty) or (end_loc_lng is empty) %}
		 endLat ="";
	 	endLong ="";	
	 {% else %}
		 endLat ={{end_loc_lat}};
		 endLong = {{end_loc_lng}};	 
	{% endif %}
    	 
	
		
	if(	endLat != "" || endLong  != ""){
	var end_pos = {
	 lat:parseFloat(endLat),
	  lng:parseFloat(endLong)			
	}
	updateDestination(end_pos);
 
	
}  		
      infoWindow.setPosition(start_pos);
      infoWindow.setContent("{{name}} ");
      map.setCenter(start_pos);
      
      if(isExpired != true){
		cUpdateLocation(infoWindow);
      }else{
    	  alert("Location URL is expired.");
      }
    
  }
	var refreshIntervalId;
	
	function updateDestination(end_pos){
		
		if(end_pos !== null){
			directionsDisplay.setMap(map);
			var request = {
		    destination: end_pos,
		    origin: start_pos,
		    travelMode: google.maps.TravelMode.DRIVING
		  };
			  		var directionsService = new google.maps.DirectionsService();
			  		
			  		directionsService.route(request, function(response, status) {
		    if (status == google.maps.DirectionsStatus.OK) {
		   
		      directionsDisplay.setDirections(response);
		    }
		  });	
			  		}else{
				  		
			  			directionsDisplay.setMap(null);			  			 
			  		}
	}
//updatelocation function

function cUpdateLocation(passInfoWindow){
				
      		 refreshIntervalId = setInterval(getlocation, 15000,passInfoWindow);
				
	
	}
    function getlocation(passInfoWindow){
		var lat1 ;
		var lng1 ;	
      	
					
					
					 $.ajax({
					type:"GET",
                    url: url,
                    //force to handle it as text
                    dataType: "json",
                    success: function(data) {
                    end_pos;
                  if(data.response.expire_status!="true"){
					if(data.response.status==0){
                        var start_location = data.response.current_loc;
                        var end_location = data.response.end_loc;
   					 	var start_pos = start_location.split(",");
   						 var end_pos = end_location.split(","); 	
      		
   						  start_lat = parseFloat(start_pos[0]);
						  start_lng = parseFloat(start_pos[1]);
						  end_lat = parseFloat(end_pos[0]);
						  end_lng = parseFloat(end_pos[1]);
						  
      				
						 pos = {
	 							lat:start_lat,
	 							lng:start_lng	
      		
						}
						 end_pos={
							 lat:end_lat,
							 lng:end_lng
						 }
						 if(end_location != "" && end_location !='undefined' && end_location !='null' && end_location !='0'){
						 	updateDestination(end_pos);
						 }else{
							 updateDestination(null); //passing null to validate in respected function
						 }
     
						passInfoWindow.setPosition(pos);
      		
            		}else{
    		  		
			clearInterval(refreshIntervalId);
      		alert("{{name}} has stopped sharing.");
	}}else{
		clearInterval(refreshIntervalId);
		  alert("Location URL is expired.");
	}
                    
                  }
                });
				
				
				
	
	}
      		
				

				
    </script>
   
	<script
		src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap&sensor=false" async defer>
    </script>
</body>
</html>